<mat-card>
  <mat-card-title>Add New Activity</mat-card-title>
  <form name="activityForm" class="activity-form" (ngSubmit)="submitData(form)" #form="ngForm">
    <mat-form-field style="width: 100%;">
      <mat-label>Name</mat-label>
      <input matInput ngModel name="name" id="name" required>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Description</mat-label>
      <textarea matInput ngModel name="description" id="description" rows="4" required></textarea>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Selected font color</mat-label>
      <input matInput [value]="fontColor" name="fontColor" id="fontColor" disabled>
    </mat-form-field>
    <input [(colorPicker)]="fontColor" [style.background]="fontColor"/>
    <br>
    <mat-form-field style="width: 100%;">
      <mat-label>Selected background color</mat-label>
      <input matInput [value]="backgroundColor" name="backgroundColor" id="backgroundColor" disabled>
    </mat-form-field>
    <input [(colorPicker)]="backgroundColor" [style.background]="backgroundColor"/>
    <br>
    <div style="text-align: right;"><button type="submit" style="width: 10%;" mat-flat-button color="warn" [disabled]="!form.valid">Add</button></div>
  </form>
</mat-card>
