.task-container {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    p {
      padding-left: 24px;
      font-weight: lighter;
    }

    .task-type {
      font-weight: normal;
      font-size: 16px;
    }

    mat-checkbox {
      font-weight: bold;
    }
}

.cross-task {
  text-decoration: line-through;
}
